/* Variables */
:root {
	--colors-background-dark:#444;
	--colors-background-light:#252525;
	--colors-text-light:#fff; 
	--colors-text-highlight:#456ebf;
	--colors-text-dark:#fff; 
	--fonts-normal-text:arial,verdana; 
}

/* Small resets */
* { 
	box-sizing:border-box; 
}

html, body, form { 
	padding:0px;margin:0px; 
}

/* Main elements */
body { 
	background: #eeff00;
}

/* Other elements */
#website_container { 
	width:310px;
	height:100vh;
	text-align:center;
	margin:0px auto;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden; 
}

#website_container .content { 
	border-radius:15px;
	background-color:var(--colors-background-light);
	color:var(--colors-text-dark);
	padding:15px;
	overflow:hidden; 
}

/* Button */
#installButton {
	height: 50px;
	width:200px;
	margin-top: 30px;
	margin-bottom:30px;
	visibility:hidden;
	color: white;
	background: #E8165D;
	border-radius: 100px;
	border:none;
}

/* Button */
#installButton {
	height: 50px;
	width: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
	visibility: hidden;
	color: white;
	background: #E8165D;
	border-radius: 100px;
	border: none;
}

/* Gif */
#trippy {
	max-width: 275px;
	margin-top: 20px;
}